language: node_js
node_js:
  - "stable"
  - "8"
cache:
  yarn: true
  directories:
    - node_modules
script:
  - yarn test
  - yarn build
deploy:
  provider: pages
  skip-cleanup: true # Otherwise Travis will remove the created build folder before deploy
  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  target-branch: gh-pages # Default, but here as a reminder
  local-dir: build # The directory to push to the brach
  on:
    branch: master
