@mixin focus-highlight($withRadius: true) {
  @if $withRadius == true {
    border-radius: 3px;
  }

  &:active {
    background: $border-color;
    outline: 0;
  }

  @media (hover: hover) {
    &:focus,
    &:hover {
      background: $border-color;
      outline: 0;
    }
  }
}
