$bg-color: #efefef;
$text-color: #333;
$light-color: #565656;
$extra-light: #bbb;
$border-color: #ddd;
$table-row-color: #f9f9f9;
$realtime-color: #03a9f4;
$error-color: #f1003f;

$input-shadow: rgba(0, 0, 0, 0.08);

$result-border-radius: 5px;
