@import '_variables';
@import '_mixins';

html {
  font-size: 10px;
}

body {
  background: $bg-color;
  color: $text-color;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#root {
  max-width: 700px;
  margin: 1rem auto 5rem;

  @media screen and (max-width: 720px) {
    padding: 0 1rem;
  }
}

input {
  font-size: 16px; // Needed to prevent zoom on iOS
}

h1,
h2,
h3 {
  font-weight: 500;
  line-height: 1.1;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.33em;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 0.42rem;
}

h3 {
  font-size: 2.1rem;
  margin-bottom: 0.5em;
}

button,
.button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid $border-color;
  background: white;
  font-size: 1.4rem;
  line-height: 1.5;

  @include focus-highlight();
}

.close-button {
  opacity: 0.5;
  float: right;
  font-size: 2rem;
  line-height: 1;
  padding: 1rem;
  cursor: pointer;

  @include focus-highlight();
}

a {
  display: block;
  text-decoration: none;
  color: initial;
}

.small {
  font-size: 85%;
}

.loading {
  padding: 1.2rem;
}

.error-message {
  padding: 2rem 1.2rem;
  color: $error-color;
}

.divider {
  border-bottom: 2px solid $border-color;

  @media screen and (max-width: 700px) {
    margin: 0 -1rem;
  }
}
