@import '_variables';

html {
  font-size: 10px;
}

body {
  background: $bg-color;
  color: $text-color;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#root {
  max-width: 700px;
  margin: 3rem auto;
}

input {
  font-size: 16px; // Needed to prevent zoom on iOS
  width: 100%;
  border-radius: 4px;
  display: block;
  line-height: 1.5;
  padding: 0.6rem 1.2rem;
  border: 1px solid $border-color;
  box-sizing: border-box;
  box-shadow: inset 0 1px 1px $input-shadow;

  &:focus {
    border-color: $realtime-color;
    box-shadow: inset 0 1px 1px $input-shadow,
      0 0 8px rgba($realtime-color, 0.6);
    outline: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.1;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.33em;
}

h2 {
  font-size: 2.8rem;
  margin-bottom: 0.42rem;
}

h3 {
  font-size: 2.4rem;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.8rem;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid $border-color;
  background: white;
  border-radius: 3px;
  font-size: 1.4rem;
  line-height: 1.5;

  &:focus {
    outline: 0;
    background: $border-color;
  }

  &:active {
    outline: 0;
  }

  &:hover {
    background: $border-color;
  }
}

.close-button {
  opacity: 0.2;
  float: right;
  font-size: 2rem;
  line-height: 1;
  background: none;
  border: 0;
  padding: 1rem;
  cursor: pointer;

  &:hover,
  &:focus {
    background: none;
    opacity: 0.4;
    outline: 0;
  }
}

a {
  display: block;
  text-decoration: none;
  color: initial;
}

.small {
  font-size: 85%;
}

.loading {
  padding: 1.2rem;
}

.error-message {
  padding: 2rem 1.2rem;
  color: $error-color;
}

.title {
  padding: 0 1rem;
}
