@import '_variables';
@import '_mixins';

.starred {
  margin: 1rem -0.5rem;
  display: flex;
  flex-wrap: wrap;

  .starred-item {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0.5rem;
  }

  .name {
    padding: 1rem;
    color: $realtime-color;
    display: flex;
    align-items: center;

    span {
      padding-left: 1rem;
    }

    .star-details {
      padding-left: 0;

      .star-name {
        font-weight: bold;
      }

      > span {
        display: inline-block;
      }
    }
  }
}
