@import '_variables';

.stop-search {
  margin: 1.5rem 0 2rem;
  box-sizing: border-box;

  label {
    padding: 0 0.2rem 0.2rem;
    display: block;
    color: $light-color;
  }

  .search-input {
    position: relative;

    button {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.5;
      border: none;
      background: none;
      height: 100%;
      padding: 1rem;
      line-height: 1;

      &:hover,
      &:focus {
        background: $extra-light;
        outline: 0;
        border-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    input {
      width: 100%;
      border-radius: 4px;
      display: block;
      line-height: 1.5;
      padding: 0.6rem 1rem 0.6rem 3.4rem;
      border: 1px solid $border-color;
      box-sizing: border-box;
      box-shadow: inset 0 1px 1px $input-shadow;

      &:focus {
        border-color: $realtime-color;
        box-shadow: inset 0 1px 1px $input-shadow,
          0 0 8px rgba($realtime-color, 0.6);
        outline: 0;
      }
    }
  }

  .close-button {
    margin-top: -1rem;
  }
}

.stop-search-results {
  .search-result {
    background: $table-row-color;
    border: 1px solid $border-color;
    padding: 1rem;
    margin-bottom: -1px;
    cursor: pointer;

    &:first-child {
      border-top-left-radius: $stop-result-border-radius;
      border-top-right-radius: $stop-result-border-radius;
    }

    &:last-child {
      border-bottom-left-radius: $stop-result-border-radius;
      border-bottom-right-radius: $stop-result-border-radius;
      margin-bottom: 0;
    }

    &:focus {
      outline: 0;
      background: $border-color;
    }

    &:hover {
      background: $border-color;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  }

  .small {
    color: $extra-light;
  }
}
