@import '_variables';
@import '_mixins';

.stop-view {
  margin: 0.8rem 0;

  .stop-details {
    display: inline-block;
    margin: 0.5rem 0;
    padding: 0.5rem 0;

    @include focus-highlight();

    h2 {
      display: inline;
    }

    span {
      color: $light-color;
    }
  }
}
