@import '_variables';
@import '_mixins';

.stop-page {
  .back-button {
    opacity: 0.5;
    padding: 1rem 0;

    @include focus-highlight();

    span {
      padding-left: 1rem;
    }
  }

  .action {
    color: $light-color;

    &.pin {
      font-size: 105%;
      min-width: 1.6rem;
      text-align: center;
    }

    &.active {
      opacity: 1;
      color: $realtime-color;
    }

    span {
      padding-left: 1rem;
    }
  }
}
