@import '_variables';

.timetable {
  margin: 0.8rem 0;

  .stop-details {
    padding: 1rem 0;

    h2 {
      display: inline;
    }

    span {
      color: $light-color;
    }
  }

  .line-buttons {
    margin-right: -0.5rem;

    .line-button {
      margin: 0 0.5rem 0.5rem 0;
      font-size: 12px;
      display: inline-block;

      &.selected {
        border-color: $realtime-color;
        border-width: 2px;
        padding: 0.4rem 0.9rem;
      }

      &:hover {
        background: $border-color;
      }
    }
  }

  table {
    margin-bottom: 0;
    border-collapse: collapse;

    @media screen and (max-width: 700px) {
      margin: 0 -1rem;
    }

    .line {
      font-weight: bold;
    }

    th {
      text-align: left;
      border-bottom: 1px solid $border-color;
      vertical-align: bottom;
      color: black;

      &.fit {
        width: 1%;
      }
    }

    td {
      vertical-align: top;
    }

    tbody {
      tr:nth-of-type(odd) {
        background: $table-row-color;
      }
    }

    tr.gone {
      &,
      .realtime {
        color: $extra-light;
      }
    }

    tr.show-more {
      text-align: center;
      cursor: pointer;

      &:hover,
      &:focus {
        outline: 0;
        background: $border-color;
      }
    }

    th,
    td {
      padding: 0.8rem;

      &:first-child {
        padding-left: 1rem;
      }

      &:last-child {
        padding-right: 1rem;
      }
    }

    td.min {
      white-space: nowrap;
    }

    td .realtime {
      color: $realtime-color;
      vertical-align: text-top;
    }
  }
}
