@import '_variables';
@import '_mixins';

table.timetable {
  margin-bottom: 0;
  border-collapse: collapse;

  @media screen and (max-width: 700px) {
    margin: 0 -1rem;
  }

  th {
    text-align: left;
    border-bottom: 1px solid $border-color;
    vertical-align: bottom;
    color: black;

    &.fit {
      width: 1%;
    }
  }

  tbody {
    tr:nth-of-type(odd) {
      background: $table-row-color;
    }
  }

  tr.gone {
    &,
    .realtime {
      color: $extra-light;
    }
  }

  tr.show-more {
    text-align: center;
    cursor: pointer;

    @include focus-highlight(false);
  }

  th,
  td {
    padding: 0.8rem;

    &:first-child {
      padding-left: 1rem;
    }

    &:last-child {
      padding-right: 1rem;
    }
  }

  td {
    vertical-align: top;

    &.min {
      white-space: nowrap;
    }

    &.line {
      font-weight: bold;
    }

    &.dest {
      padding: 1rem 0.8rem;
    }

    &.platform {
      padding: 0.5rem 0;

      a {
        padding: 0.3rem 0.8rem;
        display: inline-block;
      }
    }

    .realtime {
      color: $realtime-color;
      vertical-align: text-top;
    }
  }
}
