@import '_variables';

table.timetable {
  margin-bottom: 0;
  border-collapse: collapse;

  @media screen and (max-width: 700px) {
    margin: 0 -1rem;
  }

  .line {
    font-weight: bold;
  }

  th {
    text-align: left;
    border-bottom: 1px solid $border-color;
    vertical-align: bottom;
    color: black;

    &.fit {
      width: 1%;
    }
  }

  td {
    vertical-align: top;
  }

  tbody {
    tr:nth-of-type(odd) {
      background: $table-row-color;
    }
  }

  tr.gone {
    &,
    .realtime {
      color: $extra-light;
    }
  }

  tr.show-more {
    text-align: center;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: 0;
      background: $border-color;
    }
  }

  th,
  td {
    padding: 0.8rem;

    &:first-child {
      padding-left: 1rem;
    }

    &:last-child {
      padding-right: 1rem;
    }
  }

  td.min {
    white-space: nowrap;
  }

  td .realtime {
    color: $realtime-color;
    vertical-align: text-top;
  }
}
