.bike-details {
  display: grid;
  grid-template-columns: 2rem max-content 2rem;
  justify-items: center;
  align-items: center;
  margin-bottom: 1rem;
  grid-gap: 0.5rem 1rem;
}

.bike-detail-label {
  justify-self: flex-start;
}

.bike-detail-count {
  font-weight: bold;
}

.count-few {
  color: var(--warning-color);
}

.closed {
  color: var(--error-color);
  margin-bottom: 1rem;
}

.not-allowed {
  opacity: 0.5;
}
