.line-buttons {
  margin-right: -0.5rem;
  margin-bottom: 0.5rem;
}

.line-button {
  margin: 0 0.5rem 0.5rem 0;
  font-size: 12px;
  display: inline-block;
}

.selected {
  border-color: var(--realtime-color);
  border-width: 2px;
  padding: 0.4rem 0.9rem;
}
