:root {
  --bg-color: #efefef;
  --text-color: #333;
  --light-color: #565656;
  --extra-light: #bbb;
  --border-color: #ddd;
  --table-row-color: #f9f9f9;
  --realtime-color: #0072aa;
  --warning-color: #b44e02;
  --error-color: #d60038;

  --input-shadow: rgba(0, 0, 0, 0.08);

  --result-border-radius: 5px;
}

html {
  font-size: 10px;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  min-height: 100%;
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#root {
  max-width: 700px;
  margin: 0 auto;
  padding: 1.5rem 0 5rem;
}

@media screen and (max-width: 720px) {
  #root {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* Unifications */
* {
  box-sizing: border-box;
}

input {
  font-size: 16px; /* Min val to prevent zoom on iOS */
}

h1,
h2,
h3 {
  font-weight: 500;
  line-height: 1.1;
}

small {
  font-size: 85%;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  background: white;
  font-size: 1.6rem;
  line-height: 1.5;
  border-radius: 3px;
  outline: 0;
}

a {
  display: block;
  text-decoration: none;
  color: initial;
  border-radius: 3px;
  outline: 0;
}

button:focus,
a:focus,
button:active,
a:active {
  background: var(--border-color);
}

@media (hover: hover) {
  button:hover,
  a:hover {
    background: var(--border-color);
  }
}
